@import "_variables.scss";

@font-face {
    font-family: 'MaterialIcons';
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    src: url('~/resource.dbnetsuite?action=font&name=material-icons') format('woff2')
}

:root {
    --main-font-size: small;
    --main-font-family: verdana;
}

section.dbnetsuite {
    width: fit-content;
    position: relative;

    &.empty
    {
        min-height: 32px;
        min-width: 32px;
    }
}

.dbnetsuite {
    all: unset;
    display: grid;
    position: relative;

    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }
}

.material-icons {
    font-family: 'MaterialIcons';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.dbnetsuite-loading {
    border: 1px solid lightsteelblue;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    display: none;
    margin: 0 auto;
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    //transform: translate(-50%, -50% );

    &.display {
        display: block;
    }

    .icon {
        width: 20px;
        height: 20px;
        border: 6px solid lightsteelblue;
        border-top: 6px solid steelblue;
        border-radius: 100%;
        animation: spin 1s infinite linear;
    }
}

.next-icon-left-svg {
    background-image: svgUrl("next", "20");
}

div.dbnetsuite-error {
    background-color: #F7DC6F;
    font-weight: bold;
    border: 2px solid #B9770E;
    border-radius: 2px;
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    width:fit-content;
    padding: 10px;
}

.dialog {
    background: whitesmoke !important;

    hr {
        border: none;
        height: 1px;
        background-color: gainsboro
    }
}

hr.toolbar {
    border: none;
    height: 1px;
    background-color: gainsboro;
    margin: 5px 0px;
}

.message-box {
    [button-type=confirm],
    [button-type=ok] {
        background-image: svgUrl("apply", "24", "limegreen");
        margin: 0px 5px;
    }

    [button-type=cancel] {
        background-image: svgUrl("cancel", "24", "indianred") !important;
        margin: 0px 5px;
    }

    .message-box-icon {
        margin: 10px;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        background-color: #fff;
        border: 5px solid steelblue;
        box-sizing: content-box;

        &.info {
            background-image: svgUrl("info", "48");
        }

        &.confirm {
            background-image: svgUrl("question", "48");
        }

        &.error {
            background-image: svgUrl("error", "48", "%23D13438");
            border: 5px solid #D13438;
        }
    }

    .toolbar {
        text-align: center;
    }

    .message-box-text {
        margin: 10px;
        padding: 10px;
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        color: dimgray;
    }
}

.ui-widget-content .ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_444444_256x240.png")
}

.ui-widget-header .ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_444444_256x240.png")
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_555555_256x240.png")
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_ffffff_256x240.png")
}

.ui-state-highlight .ui-icon, .ui-button .ui-state-highlight.ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_777620_256x240.png")
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_cc0000_256x240.png")
}

.ui-button .ui-icon {
    background-image: url("/resource.dbnetsuite?action=image&name=ui-icons_777777_256x240.png")
}

.ui-dialog .ui-dialog-content {
    padding: 2px 2px;
}

.ui-datepicker .ui-datepicker-title select,
.ui-datepicker table {
    font-size: var(--main-font-size);
}

.ui-widget.ui-widget-content {
    border: 3px solid lightsteelblue; // #4C94EA
    background-color: whitesmoke;
}

.ui-timepicker-standard {
    font-size: var(--main-font-size);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
