@import "_variables.scss";

table.dbnetedit-form {
    td.label {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        font-weight:600;
    }

    td {
        display: table-cell;
        vertical-align: middle;
    }

    input, textarea, select {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);

        &.highlight{
            background-color:gold;
        }
    }

    input, select {
        height: 24px;
    }

    input[type='checkbox'] {
        transform: scale(1.5);
        vertical-align: middle;
        margin-left: 3px;
    }

    input[numeric='true'] {
        text-align: right;
    }

    textarea {
        width: 100%;
    }

    .toolbar-button {
        margin-left: 2px;
    }
}

.dbnetedit-form {
    .message {
        border: 1pt solid #ddd;
        border-radius: 2px;
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        font-weight: normal;
        vertical-align: middle;
        padding: 5px;
        margin: 2px 0px 2px 0px;
        background-color:whitesmoke;

        &.highlight {
            background-color: #FFD54F;
        }
    }
}