@import "_variables.scss";

table.dbnetedit-form {
    td.label {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        font-weight: 600;
    }

    td {
        display: table-cell;
        vertical-align: middle;
    }

    input, textarea, select, img {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        border: 1px solid #90A4AE;
        border-radius: 2px;

        &.highlight {
            background-color: gold !important;
        }

        &:focus {
            background-color: #FFE082;
            outline: none;
        }
    }

    a {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        display: table-cell;
        vertical-align: middle;
        margin-right: 5px;

        [href]:not([href=""]) {
            color: blue !important;
        }
    }

    img.dbnetedit {
        width: auto;
        height: 60px;
        cursor: pointer;
    }

    input, select {
        height: 24px;
    }

    input[type='checkbox'] {
        transform: scale(1.5);
        vertical-align: middle;
        margin-left: 3px;
    }

    input[numeric='true'] {
        text-align: right;
    }

    textarea {
        width: 100%;
    }

    select.readonly {
        pointer-events: none;
    }

    .toolbar-button {
        margin-left: 2px;
    }

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
    }
}

.dbnetedit-form,
.upload-dialog {
    .message {
        border: 1pt solid #ddd;
        border-radius: 2px;
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        font-weight: normal;
        vertical-align: middle;
        padding: 5px;
        margin: 2px 0px 2px 0px;
        background-color: whitesmoke;

        &.highlight {
            background-color: $focus-color;
        }
    }

    img.preview {
        width: auto;
    }

    .icon-container {
        &.file {
            height: 48px;
            width: 48px;
            padding: 20px;
            border: 1px solid #90A4AE;
            border-radius: 2px;
            vertical-align: bottom;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #fff;
            float: right;

            &.default {
                background-image: svgFileIconUrl("default");
            }

            &.csv {
                background-image: svgFileIconUrl("csv");
            }

            &.pdf {
                background-image: svgFileIconUrl("pdf");
            }
        }
    }
}

.upload-dialog {
    input {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        border: 1px solid #90A4AE;
        border-radius: 2px;

        &:focus {
            outline: none;
        }
    }

    .file-info-label {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
        font-weight: bold;
        white-space: nowrap;
    }
}
