@using DbNetSuiteCore.Models.Configuration
<script id="dbnetsuitejs" src="script.dbnetsuite?handler=js"></script>
<script>
    var dbnetgrid = new DbNetGrid(@Html.Raw(DbNetSuiteCore.Helpers.SerialisationHelper.SerialiseToJson(Model)));
</script>
<div class="dbnetsuite-core-grid" id="@Model.Id"></div>