@model DbNetSuiteCore.Models.Configuration.DbNetGridConfiguration
<div id="@Model.Id" class="dbnetgrid">
    <nav class="navbar navbar-light bg-light">
        <button class="btn btn-sm btn-outline-secondary" type="button">Search</button>
    </nav>
    <div class="table-container">
    </div>
</div>