@using System.Data
@model DataTable
<table class="grid-table">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.Columns)
            {
                <th>@column.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.Rows.Count == 0)
        {
            <tr>
                <td colspan="@Model.Columns.Count">No records found</td>
            </tr>
        }
        else
        {
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn column in Model.Columns)
                    {
                        <td>
                            @if (column.DataType == typeof(System.Boolean))
                            {
                                <i class="material-icons md-24">(@((bool)row[column.ColumnName]) ? "check_box" : "check_box_outline_blank")</i>
                            }
                            else
                            {
                                @row[column.ColumnName]
                            }
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>