@using DbNetSuiteCore.Helpers
@using System.Data
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DbNetSuiteCore.Models.Configuration.DbNetGridConfiguration
<table class="grid-table">
    <thead>
        <tr>
            @foreach (DataColumn column in Model.PageData.Columns)
            {
            <th>
                @Html.Raw(Html.CellHeading(column, Model.Columns))
            </th>

            }
        </tr>
    </thead>
    <tbody>
        @if (Model.PageData.Rows.Count == 0)
        {
            <tr>
                <td colspan="@Model.PageData.Columns.Count">No records found</td>
            </tr>
        }
        else
        {
            @foreach (DataRow row in Model.PageData.Rows)
            {
                <tr>
                    @foreach (DataColumn column in Model.PageData.Columns)
                    {
                        <td>
                            @Html.Raw(Html.CellValue(row, column, Model.Columns))
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>