@page
@using Microsoft.Extensions.FileProviders;
@model DbNetSuiteCore.Web.UI.Pages.IndexModel
<div style="column-count:3">
@{
    
    foreach (var component in Model.TestPages.Keys)
    {
        <h3>@component</h3>
        foreach (IFileInfo testPage in Model.TestPages[component])
        {
            if (testPage.Name.EndsWith(".cshtml"))
            {
                <div><a href="/@($"{component}/{testPage.Name.Split('.').First()}")">@testPage.Name.Split('.').First()</a></div>
            }
        }
    }
}
</div>
