@page
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Enums.DbNetGrid;
<div id="regions"></div>
<div id="territories"></div>
<div id="employees"></div>
@{
    DbNetGridCore employeesGrid = new DbNetGridCore("northwind", "employees join employeeterritories on employees.employeeid = employeeterritories.employeeid", "employees") { View = true };

    employeesGrid.Columns = new List<string>() { "lastname", "firstname", "Title", "TitleOfCourtesy", "BirthDate", "HireDate", "Address", "City", "Region", "PostalCode", "Country", "HomePhone", "Extension", "photo", "notes", "reportsto", "photopath", "employees.EmployeeID", "territoryid" };

    employeesGrid.Column("reportsto").Lookup(new Lookup("Employees", "EmployeeId", "lastname + ',' + firstname"));
    employeesGrid.Column("TerritoryId").Lookup(new Lookup("territories", "TerritoryId", "territorydescription"));
    employeesGrid.Column("Photo").Image(new ImageConfiguration("jpg"));
    employeesGrid.Column(new String[] { "photo", "notes", "photopath" }).Hidden();
    employeesGrid.Column(new String[] { "firstname", "lastname", "photo", "notes", "photopath" }).View();
    employeesGrid.Column("TerritoryId").ForeignKey();
    employeesGrid.Column("TerritoryId").GroupHeader();

    DbNetComboCore territoriesCombo = new DbNetComboCore("northwind", "territories", "territoryid", "territorydescription", "territories") { ForeignKeyColumn = "regionid", Size = 10, MultipleSelect = true, AutoRowSelect = true };
    DbNetComboCore regionsCombo = new DbNetComboCore("northwind", "regions", "regionid", "regiondescription", "regions") { Size = 10, MultipleSelect = true, AutoRowSelect = true };
    territoriesCombo.AddLinkedControl(employeesGrid);
    regionsCombo.AddLinkedControl(territoriesCombo);
    @regionsCombo.Render()
}