@using DbNetSuiteCore.Components;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page - Your Project Name</title>
    @DbNetSuiteCore.StyleSheet()
</head>
<body>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    @DbNetSuiteCore.ClientScript()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>