@page
@using DbNetSuiteCore.Components;
@using DbNetSuiteCore.Enums;
@using DbNetSuiteCore.Enums.DbNetFile;
<div style="display:flex;align-items:flex-start;">
    <div id="treeview" style="padding:10px"></div>
    <div id="files" style="padding:10px"></div>
</div>
@{
    DbNetFileCore filesView = new DbNetFileCore(string.Empty,"files");
    filesView.FilesOnly = true;
    filesView.Columns = new List<FileInfoProperties>() { FileInfoProperties.Name, FileInfoProperties.Length, FileInfoProperties.Preview };
    filesView.Column(FileInfoProperties.Preview).Label("Thumbnail");
    DbNetFileCore treeView = new DbNetFileCore("/dbnetfile/documents", "treeview");
    treeView.TreeView = true;
    treeView.AddLinkedControl(filesView);
    @treeView.Render()
}