@namespace DbNetSuiteCore.Views.DbNetGrid
@using System.Data
@model DbNetSuiteCore.ViewModels.DbNetGrid.LookupDialogViewModel
<option value=""></option>
@foreach (DataRow row in Model.LookupData)
{
    int textIdx = row.ItemArray.Length > 1 ? 1 : 0;
    <option value="@(row.ItemArray[0]?.ToString())">@(row.ItemArray[textIdx]?.ToString())</option>
}