table.dbnetedit-form td.label {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: 600;
}
table.dbnetedit-form td {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}
table.dbnetedit-form input, table.dbnetedit-form textarea, table.dbnetedit-form select, table.dbnetedit-form img {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  border: 1px solid #90A4AE;
  border-radius: 2px;
}
table.dbnetedit-form input.highlight, table.dbnetedit-form textarea.highlight, table.dbnetedit-form select.highlight, table.dbnetedit-form img.highlight {
  background-color: gold !important;
}
table.dbnetedit-form input:focus, table.dbnetedit-form textarea:focus, table.dbnetedit-form select:focus, table.dbnetedit-form img:focus {
  background-color: #FFE082;
  outline: none;
}
table.dbnetedit-form a {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  display: table-cell;
  vertical-align: middle;
  margin-right: 5px;
}
table.dbnetedit-form a [href]:not([href=""]) {
  color: blue !important;
}
table.dbnetedit-form img.dbnetedit {
  width: auto;
  height: 60px;
  cursor: pointer;
}
table.dbnetedit-form input, table.dbnetedit-form select {
  height: 24px;
}
table.dbnetedit-form input[type=checkbox] {
  transform: scale(1.5);
  vertical-align: middle;
  margin-left: 3px;
}
table.dbnetedit-form input[numeric=true] {
  text-align: right;
}
table.dbnetedit-form textarea {
  width: 100%;
}
table.dbnetedit-form select.readonly {
  pointer-events: none;
}
table.dbnetedit-form .toolbar-button {
  margin-left: 2px;
}
table.dbnetedit-form .flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.dbnetedit-form .message,
.upload-dialog .message {
  border: 1pt solid #ddd;
  border-radius: 2px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: normal;
  vertical-align: middle;
  padding: 5px;
  margin: 2px 0px 2px 0px;
  background-color: whitesmoke;
}
.dbnetedit-form .message.highlight,
.upload-dialog .message.highlight {
  background-color: #FFE082;
}
.dbnetedit-form img.preview,
.upload-dialog img.preview {
  width: auto;
}
.dbnetedit-form .icon-container.file,
.upload-dialog .icon-container.file {
  height: 48px;
  width: 48px;
  padding: 20px;
  border: 1px solid #90A4AE;
  border-radius: 2px;
  vertical-align: bottom;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  float: right;
}
.dbnetedit-form .icon-container.file.default,
.upload-dialog .icon-container.file.default {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='48' width='48' viewBox='0 -960 960 960' fill='SteelBlue'><path d='M312-242h337v-70H312v70Zm0-175h337v-70H312v70ZM218-64q-28.725 0-50.863-22.138Q145-108.275 145-137v-686q0-28.725 22.137-50.862Q189.275-896 218-896h357l240 239v520q0 28.725-22.138 50.862Q770.725-64 742-64H218Zm321-559v-200H218v686h524v-486H539ZM218-823v200-200 686-686Z'/></svg>");
}
.dbnetedit-form .icon-container.file.csv,
.upload-dialog .icon-container.file.csv {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='48' width='48' viewBox='0 -960 960 960' fill='SteelBlue'><path d='M230-357h127v-50H247v-146h110v-50H230q-14.025 0-23.512 9.775Q197-583.45 197-569v179q0 14.025 9.488 23.513Q215.975-357 230-357Zm161 0h137q14.025 0 23.513-9.487Q561-375.975 561-390v-78q0-13-9.487-21.5Q542.025-498 528-498h-87v-55.37h120V-603H424q-14.025 0-23.513 9.487Q391-584.025 391-570v78q0 14 9.487 23.5Q409.975-459 424-459h87v52H391v50Zm264 0h57l75-246h-50l-53 183-47-183h-50l68 246ZM140-148q-28.725 0-50.862-22.137Q67-192.275 67-221v-518q0-28.725 22.138-50.862Q111.275-812 140-812h680q28.725 0 50.862 22.138Q893-767.725 893-739v518q0 28.725-22.138 50.863Q848.725-148 820-148H140Zm0-73h680v-518H140v518Zm0 0v-518 518Z'/></svg>");
}
.dbnetedit-form .icon-container.file.pdf,
.upload-dialog .icon-container.file.pdf {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='48' width='48' viewBox='0 -960 960 960' fill='SteelBlue'><path d='M334-429h40v-84h46q16.7 0 28.85-11.775Q461-536.55 461-553v-45q0-16.7-12.15-28.85Q436.7-639 420-639h-86v210Zm40-124v-45h46v45h-46Zm130 124h84.526Q605-429 617.5-440.5T630-469v-129q0-16.7-12.638-28.85Q604.725-639 589-639h-85v210Zm40-40v-129h45v129h-45Zm132 40h40v-84h46v-40h-46v-45h46v-41h-86v210ZM265-185q-29.363 0-51.181-22.137Q192-229.275 192-258v-564q0-28.725 21.819-50.862Q235.637-895 265-895h564q28.725 0 50.862 22.138Q902-850.725 902-822v564q0 28.725-22.138 50.863Q857.725-185 829-185H265Zm0-73h564v-564H265v564ZM132-52q-29.363 0-51.181-22.138Q59-96.275 59-125v-637h73v637h637v73H132Zm133-770v564-564Z'/></svg>");
}

.upload-dialog input {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  border: 1px solid #90A4AE;
  border-radius: 2px;
}
.upload-dialog input:focus {
  outline: none;
}
.upload-dialog .file-info-label {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: bold;
  white-space: nowrap;
}
