@namespace DbNetSuiteCore.Views.DbNetGrid
@using DbNetSuiteCore.ViewModels.DbNetCombo;
@using System.Data
@using Microsoft.AspNetCore.Html;
@model ComboViewModel
@{
    if (Model.AddEmptyOption && Model.DataView.Count > 0)
    {
        <option value="">@(Model.EmptyOptionText ?? string.Empty)</option>
    }

    foreach (DataRowView dataViewRow in Model.DataView)
    {
        <option value="@dataViewRow.Row[Model.ValueIndex].ToString()" @DataAttributes(Model.TextIndex,dataViewRow)>@dataViewRow.Row[Model.TextIndex].ToString()</option>
    }
}
@functions
{
    public HtmlString DataAttributes(int textIndex, DataRowView dataRowView)
    {
        List<string> dataAttributes = new List<string>();

        if (string.IsNullOrEmpty(Model.ProcedureName) == false)
        {
            return new HtmlString(string.Empty);
        }

        for (int i = textIndex+1; i < Model.DataView.Table.Columns.Count; i++)
        {
            string value = null;

            if (dataRowView.Row[i] != null && dataRowView.Row[i] != System.DBNull.Value)
            {
                value = dataRowView.Row[i].ToString().Replace(" ", "&nbsp;");
                dataAttributes.Add($"data-{Model.DataView.Table.Columns[i].ColumnName.ToLower()}={value}");
            }
         }

        return new HtmlString(string.Join(" ", dataAttributes.ToArray()));
    }
}