@namespace DbNetSuiteCore.Views.DbNetGrid
@using DbNetSuiteCore.ViewModels;
@using Microsoft.AspNetCore.Html
@using DbNetSuiteCore.ViewModels.DbNetGrid
@using DbNetSuiteCore.Enums
@model BaseViewModel

<div id="dbnetsuite_message_box" class="message-box" title="Information" style="display:none">
    <div class="message-box-panel">
        <table>
            <tr>
                <td>
                    <div class="message-box-icon info"></div>
                </td>
                <td>
                    <div class="message-box-text"></div>
                </td>
            </tr>
        </table>
        <hr />
        <table style="width:100%">
            <tr>
                <td>
                    <div class="toolbar">
                        @Button("Confirm", ToolbarButtonStyle.ImageAndText)
                        @Button("Cancel", ToolbarButtonStyle.ImageAndText)
                        @Button("Ok", ToolbarButtonStyle.ImageAndText)
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

@functions
{
    public HtmlString Button(string type, ToolbarButtonStyle buttonStyle)
    {
        return new HtmlString($"<button type=\"button\" class=\"{type.ToLower()}-btn toolbar-button toolbar-button-{buttonStyle.ToString().ToLower()}\" title=\"{@Title(type)}\" button-type=\"{type.ToLower()}\" id=\"Message_Box_Dialog_{type}Btn\">{ResourceString(type)}</button>");
    }

    public string Title(string type)
    {
        return ResourceString($"{type}Record_Title");
    }

    public string ResourceString(string key)
    {
        return Model.Translate(key) ?? key;
    }
}