@page
@using DbNetSuiteCore.Components;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customers</title>
    @DbNetSuiteCore.StyleSheet()
</head>
<body>
    <div>
        <main>
            @{
                DbNetGridCore customersGrid = new DbNetGridCore("northwind","customers");
                @customersGrid.Render()
            }
        </main>
    </div>
    @DbNetSuiteCore.ClientScript()
</body>
</html>