@page
@using DbNetSuiteCore.Models
@{
    Layout = "/pages/shared/_Layout.cshtml";
}
@using DbNetSuiteCore.Models.Configuration
@using DbNetSuiteCore.Enums
<div class="p-4">
    <h3>Albums</h3>
    @await Component.InvokeAsync("DbNetGrid", new DbNetGridConfiguration()
    {
        Id = "myGrid",
        ConnectionString = "Chinook",
        DataProvider = DbNetSuiteCore.Services.DataProvider.SQLite,
        TableName = "Albums",
        Columns = new List<GridColumn>() {
            new GridColumn("AlbumId"),
            new GridColumn("Title"),
            new GridColumn("ArtistId") { Label = "Artist", Lookup = "select ArtistId, Name from Artists", DropDownFilter = true }
        }
    })
</div>
