@page
@{
    Layout = "/pages/shared/_Layout.cshtml";
}
@using DbNetSuiteCore.Models.Configuration
<div class="p-4">
    <h3>Artists</h3>
    @await Component.InvokeAsync("DbNetGrid", new DbNetGridConfiguration()
    {
        Id = "ArtistsGrid",
        ConnectionString = "Chinook",
        DataProvider = DbNetSuiteCore.Services.DataProvider.SQLite,
        TableName = "Artists"
    })
</div>
