@page
@using DbNetSuiteCore.Models
@{
    Layout = "/pages/shared/_Layout.cshtml";
}
@using DbNetSuiteCore.Models.Configuration
<div class="p-4">
    <h3>Dealers</h3>
    @await Component.InvokeAsync("DbNetGrid", new DbNetGridConfiguration()
    {
        Id = "myGrid",
        ConnectionString = "CustomerSupport",
        DataProvider = DbNetSuiteCore.Services.DataProvider.SqlClient,
        TableName = "Dealer",
        PageSize = 5
    })

    <h3>Dealers</h3>
    @await Component.InvokeAsync("DbNetGrid", new DbNetGridConfiguration()
    {
        Id = "dealersGrid",
        ConnectionString = "CustomerSupport",
        DataProvider = DbNetSuiteCore.Services.DataProvider.SqlClient,
        TableName = "Dealer",
        PageSize = 5
    })
</div>