@page
@{
    Layout = "/pages/shared/_Layout.cshtml";
}
@section Css
{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
}

<a class="btn btn-primary" href="Customers">Customers</a>
<a class="btn btn-primary" href="Albums">Albums</a>
